.emple {position:relative;float:left; color:blue; font-size:16px; font-weight: bold; margin-bottom:10px;}
.emple2 {position:relative;float:left; color:#E48312;  font-size:16px; font-weight: bold; margin-left:20px;margin-bottom:10px;}
.total {position:relative;float:left; color:green;  font-size:16px; font-weight: bold; margin-left:20px;margin-bottom:10px;}


.impCod {background-color: blue; color:white; font-size:16px; font-weight: bold;margin-left: 21px;    margin-top: -3px;    width: 182px;}


.keys { color: green;    float: left;    font-size: 14px;    font-weight: normal;    margin-left: 7px;    margin-top: -27px;    position: relative;}



.impCod2 {background-color: blue; color:white; font-size:16px; font-weight: bold;margin-left: 21px;    margin-top: -3px;    width: 82px; text-align: right; }
.impCod3 {background-color: blue; color:white; font-size:16px; font-weight: bold;margin-left: 21px;    margin-top: -3px;    width: 128px;}
